<h1>Listing exuras</h1>
<div align="center">
<table border = "1" style="width: 100%; text-align:left">
   <tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Description</th>
  </tr>

<% @exuras.each do |exura| %>
  <tr>
    <td><%= exura.name %></td>
    <td><%= exura.email %></td>
    <td><%= exura.phone %></td>
    <td><%= exura.description %></td>	
    <td><%= link_to 'Show', exura %></td>
    <td><%= link_to 'Edit', edit_exura_path(exura) %></td>
    <td><%= link_to 'Destroy', exura, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Exura', new_exura_path %>
